<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LikeHome</title>
</head>
<body>
    <h3>Listing Details : </h3>
    <ul>
        <li><b>Title: </b><%=listing.title%></li>
        <li><b>Description: </b><%=listing.description%></li>
        <li><b>Image: </b><img src="<%=listing.image.url%>" alt="image currently not available"></li>
        <li><b>Price: </b>&#8377;<%=listing.price.toLocaleString("en-IN")%></li>
        <li><b>Location: </b><%=listing.location%></li>
        <li><b>Country: </b><%=listing.country%></li>
    </ul>
</body>
</html>